<div class="background {{backgroundClass}}">
<div class="weather {{tempClass}}">
	<div class="today-weather-container">
		<div class="today-weather-temperature">
			<h2 class="today-weather-temperature-text">{{currentTemp}}<span>&deg;</span></h2>
		</div>
		<!-- <div class="today-weather-max-min">
			<h3>{{todayMin}} / {{todayMaxTemp}}</h3>
		</div> -->
		<div class="today-weather-conditions">
			<i class="wi {{todayConditionClass}} condition-icon"></i>
			<p class="condition-text">{{results.currently.summary}}</p>
		</div>
	</div>
	<div class="future-weather-container">
		{{log results}}
		<ul class="tomorrow-weather-container">
			<li class="tomorrow-heading">Tomorrow: </li>
			<li class="wi {{tomorrowConditionClass}} tomorrow-icon"></li>
			<li class="tomorrow-weather-conditions">{{tomorrowConditions}}</li>
			<li class="tomorrow-weather-max-min">{{tomorrowMaxTemp}}/{{tomorrowMinTemp}}</li>
		</ul>
	</div>
</div>
</div>